<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>252907239197-eqbavn1uqjrsocm1cie8hat9aqt552sn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.252907239197-eqbavn1uqjrsocm1cie8hat9aqt552sn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>252907239197-tmn6clj1pm19hmr7fi3jql95ifnn6i6b.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA45uuyCf03YBd_NRNa0emIlHhXHXESrFk</string>
	<key>GCM_SENDER_ID</key>
	<string>252907239197</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>es.goind.tiendas</string>
	<key>PROJECT_ID</key>
	<string>goind-delivery</string>
	<key>STORAGE_BUCKET</key>
	<string>goind-delivery.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:252907239197:ios:ce397cb54b8771fb0f13f4</string>
</dict>
</plist>